{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4 text-center">La tua Watchlist, {{ username }} 🎬</h2>
<p class="text-center mb-4">
  <strong>Totale anime nella watchlist:</strong> {{ watchlist|length }}
</p>

<div class="watchlist-list">
  {% for entry in watchlist %}
  <div class="watchlist-item d-flex align-items-center">
    
    <div class="watchlist-img">
      {% if entry.anime_info.image_url %}
      <img src="{{ entry.anime_info.image_url }}" alt="Cover" />
      {% else %}
      <img src="{{ url_for('static', filename='default_anime.jpg') }}" alt="Cover" />
      {% endif %}
    </div>

    <div class="watchlist-details flex-grow-1">
      <h5 class="mb-2">{{ entry.anime_info.title }}</h5>
      
      <p class="mb-1">
        <strong>Punteggio:</strong>
        <select class="score-selector select-dark" data-entry-id="{{ entry._id }}">
          {% for i in range(11) %}
          <option value="{{ i }}" {% if entry.my_score == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        
        |
        <strong>Status:</strong>
        <select class="status-selector select-dark" data-entry-id="{{ entry._id }}">
          <option value="watching" {% if entry.stato == 'watching' %}selected{% endif %}>Watching</option>
          <option value="completed" {% if entry.stato == 'completed' %}selected{% endif %}>Completed</option>
        </select>

        |
        <strong>Episodi visti:</strong>
        <select class="episodes-selector select-dark" data-entry-id="{{ entry._id }}" data-max-episodes="{{ entry.anime_info.episodes }}">
          {% for i in range(entry.anime_info.episodes + 1) %}
          <option value="{{ i }}" {% if entry.my_watched_episodes == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
      </p>

      <div class="btn-group mt-2" role="group">
        
     <a href="{{ url_for('anime.anime_detail', anime_id=entry.anime_info._id) }}" class="btn btn-sm btn-custom btn-dettagli">
      Dettagli
    </a>

        <button type="button" class="btn btn-sm btn-custom btn-modifica salva-btn" data-entry-id="{{ entry._id }}">
          Salva
        </button>

        <form method="POST" action="{{ url_for('anime.delete_watchlist', entry_id=entry._id) }}" class="d-inline">
          <button type="submit" class="btn btn-sm btn-custom btn-elimina">Elimina</button>
        </form>

      </div>
    </div>

  </div>
  {% endfor %}
</div>

{% endblock %}
