{% extends 'base.html' %} {% block content %}

<div class="text-center mb-4">
  <h1 class="catalogo-anime">
    <span style="font-size: 1.5rem;"></span> Profilo Utente
  </h1>
</div>

<div class="row">
  <div class="col-md-4 text-center mb-4">
    <img
      src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png"
      alt="Avatar"
      class="img-fluid rounded-circle shadow"
      style="max-width: 150px"
    />
    <h4 class="mt-3 text-light">{{ user.username }}</h4>
  </div>

  <div class="col-md-8">
    <ul class="list-group list-group-flush bg-transparent mb-4">
      <li class="list-group-item bg-transparent text-light">
        <strong>Email:</strong> {{ user.email }}
      </li>
      <li
        class="list-group-item bg-transparent text-light d-flex align-items-center justify-content-between"
      >
        <div><strong>Password:</strong> ********</div>
      </li>

      <li class="list-group-item bg-transparent text-light">
        <strong>Genere:</strong> {{ user.gender }}
      </li>
      <li class="list-group-item bg-transparent text-light">
        <strong>Location:</strong> {{ user.location }}
      </li>
      <li class="list-group-item bg-transparent text-light">
        <strong>Data di nascita:</strong> {{ user.birth_date }}
      </li>
    </ul>

    <div class="d-flex gap-2">
      <a href="{{ url_for('main.edit_account') }}" class="btn btn-form w-50"
        >Modifica dati</a
      >
      <a
        href="{{ url_for('main.user_profile', username=session['username']) }}"
        class="btn btn-form w-50"
        >Vai alla Watchlist</a
      >
    </div>
  </div>
</div>

{% endblock %}
