{% extends 'base.html' %}

{% block content %}
<h2>Aggiungi Anime alla Watchlist</h2>
<form method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="anime_id" class="form-label">Anime</label>
    <select class="form-select" id="anime_id" name="anime_id">
    {% for anime in anime_list %}
    <option value="{{ anime.anime_id }}" {% if anime.anime_id == preselected_id %}selected{% endif %}>
        {{ anime.title }}
    </option>
    {% endfor %}
    </select>
    </div>
    <div class="mb-3">
        <label for="score" class="form-label">Punteggio</label>
        <input type="number" class="form-control" id="score" name="score" min="1" max="10" required>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Stato</label>
        <select class="form-select" id="status" name="status">
            <option value="Watching">Watching</option>
            <option value="Completed">Completed</option>
            <option value="Plan to Watch">Plan to Watch</option>
            <option value="Dropped">Dropped</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Aggiungi</button>
</form>
{% endblock %}