{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Ciao {{ username }}! 👋</h2>
<p><strong>Totale anime nella watchlist:</strong> {{ watchlist|length }}</p>

<hr>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Punteggio dato</th>
      <th>Status</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in watchlist %}
    <tr>
      <td>
        <a
          href="{{ url_for('main.anime_detail', _id=entry.anime_info._id) }}"
          >{{ entry.anime_info.title }}</a
        >
      </td>
      <td>{{ entry.score }}</td>
      <td>{{ entry.status }}</td>
      <td>
        <a
          href="{{ url_for('main.edit_watchlist', entry_id=entry._id) }}"
          class="btn btn-sm btn-warning"
          >Modifica</a
        >
        <form
          method="POST"
          action="{{ url_for('main.delete_watchlist', entry_id=entry._id) }}"
          style="display: inline"
        >
          <button type="submit" class="btn btn-sm btn-danger">Elimina</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}